#backway>p,.backwayPage>p {
	font-size: 0.24rem;
	padding-left: 0.46rem;
	height: 0.4rem;
	line-height: 0.4rem;
	color: #000000;
}
.ap-change{
	font-size: 0.28rem;
}
/*项目标题*/
.itemTitle{
	width: 6.6rem;
	margin:0 auto 0.3rem;
	border-bottom: 1px solid #cccccc;
}
#itemTitle{
	display: inline-block;
	vertical-align: middle;
	width: 3.8rem;
	border: 0;
	outline: none;
	padding: 0.3rem 0;
}
/*筹金额*/
.sup-price {
	width: 6.6rem;
	margin: auto;
	height: 1.0rem;
	line-height: 1.0rem;
	font-size: 0.3rem;
	border-bottom: 1px solid #cccccc;
}

.sup-price span {
	display: inline-block;
	font-size: 0.3rem;
	vertical-align: middle;
}

.sup-price span:nth-of-type(1) {
	margin-right: .6rem;
}

.sup-price input {
	display: inline-block;
	vertical-align: middle;
	width: 3.8rem;
	border: 0;
	outline: none;
	margin-left:0.46rem ;
}
/*截止日期*/
.sup-date{
	margin: 0.2rem 0.45rem 0;
	padding: 0.1rem 0;
	border-bottom: 1px solid #CCCCCC;
}
.sup-date .endDate{
	margin: 0 0.2rem 0 0.5rem;
}
.sup-date em{
	margin: 0 0.1rem;
	color: #FFAD00;
}
.sup-date .blink{
	display: inline-block;
	width: 1.1rem;
	height: 0.1rem;
}
.sup-date .days{
	margin: 0.3rem 0;
}
.sup-date .days em{
	display: inline-block;
	width: 5rem;
	height: 0.25rem;
	border-radius: 0.2rem;
	background-color: #FFAD00;
	position: relative;
}
.sup-date .days em i{
	position: absolute;
	top: -0.03rem;
	left: 0.03rem;
	display: inline-block;
	width: 0.3rem;
	height: 0.3rem;
	border-radius: 50%;
	background-color: #fff;
}
.big-photo{
	width: 2.0rem;
	height: 2.0rem;
	margin: 0.5rem auto 0;
}
.big-photo img{
	display: inline-block;
	width: 2.0rem;
	height: 2.0rem;
	border-radius: 50px;
	margin-bottom: 0.2rem;
}
.add-mid {
	padding: 0 0.46rem;
	background: #ffffff;
}

.sup-money {
	height: 1.0rem;
	line-height: 1.0rem;
	font-size: 0.3rem;
	border-bottom: 1px solid #cccccc;
}

.sup-money span {
	display: inline-block;
	font-size: 0.3rem;
	vertical-align: middle;
}

.sup-money span:nth-of-type(1) {
	margin-right: .6rem;
}

.sup-money input {
	display: inline-block;
	vertical-align: middle;
	width: 3.8rem;
	border: 0;
	outline: none;
	margin-left:0.46rem ;
}

.con-detail {
	margin: 0 auto;
	width: 5.98rem;
	height: 2.6rem;
	padding: .3rem;
	font-size: .28rem;
	background-color: #FFF9F3;
	border-radius: 0.2rem;
}

.add-btn,.del-btn{
	width: 6.58rem;
	height: .9rem;
	line-height: 0.9rem;
	font-size: 0.4rem;
	text-align: center;
	border-radius: 5px;
	color: #ffffff;
	background: #ffad00;
	margin: 0.3rem auto;
}
/**********宣言文本框***************/

.declaration {
	width: 5.9rem;
	max-height: 3.5rem;
	overflow: auto;
	word-wrap: break-word;
	outline: none;
}

.declaration:empty:before {
	content: attr(placeholder);
	/* element attribute*/
	/*content: 'this is content';*/
	color: #cccccc;
}


/*焦点时内容为空*/

.declaration:focus:before {
	content: none;
}

/*************************************/

.z_file {
	width: 1.5rem;
	height: 1.5rem;
	background: url(../img/login/upload-img-1.png) no-repeat;
	background-size: 100% 100%;
	float: left;
	margin: 0.20rem 0.2rem 0 0.46rem;
}

.z_file input::-webkit-file-upload-button {
	width: 1rem;
	height: 1rem;
	border: none;
	position: absolute;
	outline: 0;
	opacity: 0;
}

.z_file input#file {
	display: block;
	width: auto;
	border: 0;
	vertical-align: middle;
}

.z_addImg {
	float: left;
	margin-right: 0.2rem;
}

.z_photo {
	width: auto;
	height: 1.8rem;
	/*padding: 0.3rem;*/
	overflow: auto;
	clear: both;
	margin: 0 auto;
}

.z_photo img {
	width: 1.5rem;
	height: 1.5rem;
	display: inline-block;
	margin-top: 0.2rem;
}

.send_file {
	width: 1.5rem;
	height: 1.5rem;
	background: url(../img/login/upload-img4.png) no-repeat;
	background-size: 100% 100%;
	float: left;
	margin: 0.20rem 0.2rem 0 0.46rem;
}

.send_file input::-webkit-file-upload-button {
	width: 1rem;
	height: 1rem;
	border: none;
	position: absolute;
	outline: 0;
	opacity: 0;
}

.send_file input#sendfile {
	display: block;
	border: 0;
	vertical-align: middle;
	width: auto;
}

.send_addImg {
	float: left;
	margin-right: 0.2rem;
}

.send_photo {
	width: auto;
	height: 1.8rem;
	/*padding: 0.3rem;*/
	overflow: auto;
	clear: both;
	margin: 0 auto;
}

.send_photo img {
	width: 1.5rem;
	height: 1.5rem;
	display: inline-block;
	margin-top: 0.2rem;
}

/*遮罩层*/

.z_mask {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	display: none;
}

.z_alert {
	width: 3.2rem;
	height: 2rem;
	border-radius: .2rem;
	background: #fff;
	font-size: .24rem;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -1.5rem;
	margin-top: -2rem;
}

.z_alert p:nth-child(1) {
	line-height: 1.5rem;
}

.z_alert p:nth-child(2) span {
	display: inline-block;
	width: 49%;
	height: .5rem;
	line-height: .5rem;
	float: left;
	border-top: 1px solid #ddd;
}

.z_cancel {
	border-right: 1px solid #ddd;
}

/*默认地址*/
.defaultAdr{
	border-bottom: 1px solid #EEEEEE;
	padding: 0.15rem 0.1rem;
	margin: 0 0.45rem 0.2rem;
}
.defaultAdr .adrLeft{
	float: left;
}
.defaultAdr img{
	width: 0.2rem;
	float: right;
	padding: 0.2rem 0 0 0;
}
.defaultAdr .adrLeft span{
	font-weight: bold;
}
.defaultAdr .realName{
	padding-right: 0.5rem;
}
.defadr{
	margin-top: 0.07rem;
	color: #666;
	font-size: 0.26rem;
}