body{
	background: #ffffff;
}
.login-top{
	height: 100px;
	background: #ffffff;
	padding-top: 8px;
}
.login-con{
	width: 100%;
	height: 536px;
	background: url(../img/homes/bg-login.jpg)no-repeat;
	background-size: 100% 100%;
	padding-top: 120px;
}
.content{
	width: 690px;
	height: 366px;
	border: 3px solid #ffffff;
	border-radius: 10px;
	background: rgba(255,255,255,0.3);
	margin: 0 auto;
	padding: 30px 60px;
}
.content >p{
	font-size: 36px;
	height: 60px;
	width: 72px;
	color: #ffffff;
	border-bottom:1px solid #ffffff ;
}
.login-left{
	display: inline-block;
	width: 480px;
	height: 252px;
	font-size: 20px;
	vertical-align: top;
	margin-top: 40px;
	color: #ffffff;
	border-right: 2px solid #ffffff;
	position: relative;
}
.login-right{
	display: inline-block;
	vertical-align: top;
	height: 280px;
	margin-top: 35px;
	width: 200px;
	text-align: center;
	color: #ffffff;
	font-size: 30px;
}
.login-left span{
	height: 50px;	
	line-height: 50px;
	vertical-align: middle;
	display: inline-block;
}
.login-left span em{
	padding: 5px;
	color: #f8aa00;
}
.login-left .left-con{
	background-color: transparent;
	border: 1px solid #ffffff;
	border-radius: 5px;
	height: 50px;	
	line-height: 50px;
	width: 360px;
	margin-left: 25px;
	border: 1px solid #ffffff;
	border-radius: 5px;
	margin-bottom: 20px;
	outline: none;
	padding-left: 10px;
	color: #ffffff;
}

*::-webkit-input-placeholder { 
color: #FFFFFF; 
} 
.login-left .cons{
	height: 50px;
}
.login-btn{
    width: 375px;
    margin-left: 88px;
    height: 51px;
	background: #f8aa00;
	border-radius: 5px;
	color: #ffffff;
	font-size: 30px;
	text-align: center;
	line-height: 51px;
	margin-top: 20px;
	cursor: pointer;
}
.forget-pwd{
	font-size: 16px;
	font-style: normal;
	float: right;
	margin: 20px 16px 0 0;
}
.login-right p{
	letter-spacing: 5px;
}
.login-right img{
	width:160px ;
	height: 160px;
	display: block;
	margin: 25px auto 0;
}
.login-right span{
	font-size: 16px;
}

footer{
	height: 130px;
	width: 100%;
	padding-top: 70px;
	background: #ffffff;
}
.footer-ways{
	width: 1200px;
	margin: 0 auto;
	font-size: 16px;
	color: #000000;
	text-align: center;
}
.footer-ways ul li{
	width: 70px;
	padding:0 26px 0 20px ;
	border-right: 1px solid #000000;
	margin-bottom: 20px;
}
.footer-ways ul li:nth-last-of-type(1){
	width: 330px;
	padding: 0;
	padding-left: 8px;
	border-right: 0;
}
.footer-ways ul li:nth-last-of-type(1) img{
	display: inline-block;
	width: 22px;
	height: 22px;
	vertical-align: bottom;
	margin-right: 3px;
}
.error-id{
	display: inline-block;
	position: absolute;
	top: 55px;
	left: 100px;
	font-size: 14px;
	color: red;
	height: 16px!important;
	line-height: 16px!important;
}
.errorpwd{
	display: inline-block;
	position: absolute;
	top: 130px;
	left: 100px;
	font-size: 14px;
	color: red;
	height: 16px!important;
	line-height: 16px!important;
	display: none;
	font-style: normal;
}
